<launch>
    <!-- Launch rosserial to communicate with platform -->
    <!-- Parameters need to be configurable -->
    <rosparam param="/victoria_wheel_radius">0.875</rosparam>
    <rosparam param="/victoria_track_radius">0.255</rosparam>
    <node pkg="rosserial_python" type="serial_node.py" name="rosserial_node" respawn="true">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="115200"/>
    </node>

    <!-- Launch victoria_base to republish messages from platform -->
    <node pkg="victoria_base" type="victoria_base.py" name="victoria_base_node"/>

    <!-- Launch IMU filter -->
    <node pkg="imu_complementary_filter" type="complementary_filter_node" name="complementary_filter_gain_node" output="screen">
        <param name="do_bias_estimation" value="true"/>
        <param name="do_adaptive_gain" value="true"/>
        <param name="use_mag" value="true"/>
        <param name="gain_acc" value="0.01"/>
        <param name="gain_mag" value="0.01"/>
    </node>
</launch>
